html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{

    width: 600px;
    height: 800px;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;

}

.player1 {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 166px;
    border: 1px solid black;
    left: 700px;
}

.player1-up{
    position: absolute;
    left: 125px;
    top: 30px;
}
.player1-down{
    position: absolute;
    left: 125px;
    top: 100px;
}
.player1-left{
    position: absolute;
    left: 90px;
    top: 70px;
}
.player1-right{
    position: absolute;
    left: 150px;
    top: 70px;
}

.x-wing{

    position: absolute;
    background: url("img/x-wing.png") no-repeat;
    height: 50px;
    width: 50px;
    background-size: contain;
    left: 260px;
    top: 700px;
     -webkit-transform: rotate(0deg);

    /*if (navigator.userAgent.indexOf ('Firefox') != -1) obj.setAttribute ('style', '-moz-transform: rotate(' + gradus + 'deg)');*/
    /*if (navigator.userAgent.indexOf ('Opera') != -1)   obj.setAttribute ('style', '-o-transform: rotate(' + gradus + 'deg)');*/

}
